
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<table class="table table-bordered" id="tablo">
    <thead>
        <tr>
            <th>DEPO ADI</th>
            <th>İŞLEM</th>



        </tr>
    </thead>
    <tbody>
        @foreach (var depo in Model)
        {
            <tr>

                <td>@depo.depoadi</td>

                <td>
                    
                    <a href="/Depo/DepoGetir/@depo.depoid">
                        <i class="fa fa-pencil" aria-hidden="true"></i>

                    </a>
                    <a href="/Depo/Sil/@depo.depoid" onclick="return confirm('Bu Depoyu Silmek İstediğinize Emin Misiniz?')">
                        <i class="fa fa-trash" aria-hidden="true"></i>

                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.bootstrap4.js"></script>
<link href="~/Content/DataTables/css/dataTables.foundation.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/colReorder.bootstrap4.css" rel="stylesheet" />
<script>
    $('#tablo').DataTable();

</script>
<a href="/Depo/YeniDepo/" class="btn btn-primary">Yeni Depo Ekle</a>



