@using ArgStok.Models.Entity



@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
<style>
    #loginform {
        clear: left;
    }

    #klavye {
        padding: 5px;
        float: left;
        text-align:center;
        margin:20px;
    }

        #klavye tr td input {
            width: 70px;
            height: 70px;
        }

    #container {
        width: 800px;
        text-align: center;
        margin: auto;
        position: relative;
    }
    #form{
        float:left;
        margin:20px;
    }
</style>
<div id="container">
    @*<div style=" text-align:center; margin:20px;">
        <img src="~/Photos/logo.png" height="80" />
    </div>*@
    <hr />
    <div class="form-group" style=" text-align:center; margin:20px;">

        @foreach (var usr in Model)
        {

            <a href="/Home/Index/@usr.id">
                <div style="width:200px; height:120px; border:solid 1px; float:left; margin:5px;">
                    <img src="~/Photos/uservector.png" style="width:100px; height:100px; float:left;" />
                    <h4>@usr.kullaniciadi</h4>
                    <h4>@usr.kullanicisoyadi</h4>
                </div>
            </a>

        }


        <script>
            function SayiYaz(Sayi) {
                var Yazi = document.getElementById("sifrealani").value;
                Yazi = Yazi + Sayi;
                document.getElementById("sifrealani").value = Yazi;
            }

        </script>

        <div style="width:800px; ">
            <form method="post" id="loginform">
                <div id="form">
                    <label>KULLANICI E-POSTA</label><br />
                    <input type="text" name="kullaniciepost" value="@ViewBag.user.kullaniciepost" /><br />
                    <label style="margin-top:10px;">KULLANICI ŞİFRE</label><br />
                    <input type="password" name="kullanicisifre" style="margin-top:1px;" id="sifrealani" /><br />
                    <h5>@ViewBag.Hata</h5>
                    <button class="btn btn-success" style="width:200px; height:80px;">GİRİŞ YAP</button>

                </div>

               

                <div id="klavye">
                    <table>
                        <tr>
                            <td><input type="button" onclick="SayiYaz(1);" value="1" /></td>
                            <td><input type="button" onclick="SayiYaz(2);" value="2" /></td>
                            <td><input type="button" onclick="SayiYaz(3);" value="3" /></td>
                        </tr>
                        <tr>
                            <td><input type="button" onclick="SayiYaz(4);" value="4" /></td>
                            <td><input type="button" onclick="SayiYaz(5);" value="5" /></td>
                            <td><input type="button" onclick="SayiYaz(6);" value="6" /></td>
                        </tr>
                        <tr>
                            <td><input type="button" onclick="SayiYaz(7);" value="7" /></td>
                            <td><input type="button" onclick="SayiYaz(8);" value="8" /></td>
                            <td><input type="button" onclick="SayiYaz(9);" value="9" /></td>
                        </tr>
                        <tr>
                            <td><input type="button" value="." /></td>
                            <td><input type="button" onclick="SayiYaz(0);" value="0" /></td>
                            <td><input type="button" value="." /></td>

                        </tr>

                    </table>
                </div>
                
            </form>



            

        </div>

    </div>




</div>




